body{
    font-family: 'Russo One', sans-serif;
}
.half{
    width: 30%;
    float: left;
    padding: 2%;
    margin-left: 10%;
}
.title{
    color: orange;
    
}
.tsec{
    background-color: honeydew;
    height: 300px;
}
.bt{
    color: white;
    background-image: linear-gradient(40deg, rgb(51, 179, 51), orange);
    padding: 5px 10px;
    border-radius: 30px;
    text-decoration: none;
}