body{
    font-family: 'Russo One', sans-serif;
}
.half{
    width: 30%;
    float: left;
    padding: 2%;
    margin-left: 10%;
}
.title{
    color: orange;
    
}
.tsec{
    background-color: honeydew;
    height: 300px;
}
.bt{
    color: white;
    background-image: linear-gradient(40deg, rgb(51, 179, 51), orange);
    padding: 5px 30px;
    border-radius: 5px;
    text-decoration: none;
}
.my{
    text-align: center;
}
.work{
    display: flex;
}
.img{
    flex: 33.33%;
  padding: 5px;
  margin-left: 2px;
  margin-right: 2px;
}
.LT{
    text-align: center;
}
.LBT{
    color: white;
    background-image: linear-gradient(40deg, rgb(156, 232, 14),rgb(222, 155, 30));
    border: 30px 10px;
    padding: 20px;
    border-radius: 5px;
    text-decoration: none;
}
footer{
    font-size: 10px;
}